<div class="flex flex-col items-center justify-center p-10 border-gray-500 border-2 bg-white shadow-lg rounded-lg">

    

    <!-- nombre_clases, descripcion_clases, contenido, foto_clases, video_clases -->

    <form [formGroup]="addTemarioForm" (ngSubmit)="onSubmitCrearTemario()" class="flex flex-col gap-3">

        <h1 class="text-3xl text-center">Añadir clase</h1>

        <br>

        <input class="hidden" formControlName="idClases" [value]="datosClase.id_clases">

        <mat-form-field>
            <mat-label>Nombre temario:</mat-label>
            <input placeholder="Nombre temario" formControlName="nombreTemario" matInput required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descripción:</mat-label>
            <textarea type="text" placeholder="Descripción" formControlName="descripcionTemario" matInput ></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contenido:</mat-label>
            <input type="text" formControlName="contenidoTemario" matInput />
        </mat-form-field>

        <mat-form-field>
            <mat-label>URL video:</mat-label>
            <input placeholder="Introduce la url del video" type="text" formControlName="videoTemario" matInput />
        </mat-form-field>

        <div>
            <mat-label>Imagen:</mat-label>
            <input type="file" formControlName="imagenTemario"  />
        </div>

        <br>

        <button class="bg-blue-500 px-4 py-2 rounded-lg hover:bg-blue-600">Guardar</button>


    </form>



</div>