<div class="h-full flex flex-col gap-8">

    <div class="w-full h-[100vh] flex flex-row items-end">
        <a routerLink="/protocolos" class="flex-1">
            <app-div-home-page-opc2></app-div-home-page-opc2>
        </a>
        <a href="#" class="flex-1">
            <app-div-home-page></app-div-home-page>
        </a>

        <a href="#" class="flex-1">
            <app-div-home-page-opc3></app-div-home-page-opc3>
        </a>
        <a href="#" class="flex-1">
            <app-div-home-page-opc4></app-div-home-page-opc4>
        </a>


        <h1 class="text-7xl absolute top-20 m-20 text-blue-500">Bienvenido a MonLab . . . </h1>
    </div>



    

</div>