<div class="mt-[80px] p-10 flex flex-col gap-8 overflow-auto">

    @if (showAddTemario) {
    <app-cuadro-dialogo-crear-temario [datosClase]=datosClase class="absolute z-20"></app-cuadro-dialogo-crear-temario>
    }

    <div class="w-full h-[10rem] flex flex-col p-5 rounded-xl divCabeceraClase">

        <h1 class="w-full text-4xl text-white"> {{ datosClase.nombre_clases }}</h1>
        <!--         <h6 class="w-full text-xl text-white"> {{ class.descripcion_clases }}</h6>
 -->
    </div>


    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">

        <mat-tab label="Tablero">
            <!--Div temario-->
            <div class="w-full">

                <div class="w-full flex flex-row items-center gap-5 p-2">
                    <h2 class="text-3xl">Teoría</h2>
                    @if (teacherUser) {
                    <button class="hover:bg-blue-100 p-2 rounded-xl" (click)="addTemario()">
                        <img src="icons/plus-solid-black.svg" class="icon-class">
                    </button>
                    }

                </div>

                <br>

                <!--Contenido teoria-->
                <div class="w-full flex flex-col gap-4">

                    @if (listaTemarios.length > 0) {
                    @for (temario of listaTemarios; track $index) {
                    <app-layout-list-element-of-class [temario]=temario></app-layout-list-element-of-class>
                    }
                    } @else {
                    <h1>No hay temarios disponibles</h1>
                    }

                </div>

            </div>

            <br>

            <!--Div Videos-->
            <div class="w-full">

                <div class="w-full flex flex-row items-center gap-5 p-2">
                    <h2 class="text-3xl">Vídeos</h2>

                    @if (teacherUser) {
                    <button class="hover:bg-blue-100 p-2 rounded-xl" (click)="addVideo()">
                        <img src="icons/plus-solid-black.svg" class="icon-class">
                    </button>
                    }

                </div>


                <br>

                <!--Contenido videos-->
                <div class="flex flex-row flex-wrap justify-around gap-3 lg:justify-start">

                    @if (listaVideos.length > 0) {
                    @for (video of listaVideos; track $index) {
                    <app-item-video-list-class-content [video]=video></app-item-video-list-class-content>
                    }
                    } @else {
                    <h1>No hay videos disponibles</h1>
                    }

                </div>

            </div>

            <br>

            <!--Div examenes-->
            <div class="w-full">

                <div class="w-full flex flex-row items-center gap-5 p-2">
                    <h2 class="text-3xl">Exámenes</h2>

                    @if (teacherUser) {
                    <button class="hover:bg-blue-100 p-2 rounded-xl" routerLink="../createExam" [queryParams]="{ id_class: id_clase }" (click)="addExamen()">
                        <img src="icons/plus-solid-black.svg" class="icon-class">
                    </button>
                    }

                </div>

                <br>

                <!--Contenido examenes-->
                <div class="w-full flex flex-col gap-4">

                    @if (listaCuestionarios.length > 0) {
                    @for (cuestionario of listaCuestionarios; track $index) {
                    <app-layout-list-exams-of-class routerLink="../form"
                        [queryParams]="{ id: cuestionario.id_questionario, nombre: cuestionario.nombre_cuestionario }"
                        [cuestionario]=cuestionario></app-layout-list-exams-of-class>
                    }
                    } @else {
                    <h1>No hay cuestionarios disponibles</h1>
                    }

                </div>

            </div>
        </mat-tab>

        <mat-tab label="Participantes">
            <div class="flex flex-col gap-3 mt-10">

                @if (listaParticipantesClase.length > 0) {
                @for (participante of listaParticipantesClase; track $index) {
                <app-item-participante-clase [participante]="participante"></app-item-participante-clase>
                }
                }
                <!-- <app-item-participante-clase></app-item-participante-clase>
                <app-item-participante-clase></app-item-participante-clase> -->
            </div>
        </mat-tab>

        <mat-tab label="Calificaciones">

            <div class="flex flex-col gap-4 mt-10">
                @if (listaNotasUsuarioClase) {
                @for (nota of listaNotasUsuarioClase; track $index) {
                <div class="flex flex-row flex-wrap bg-blue-100 p-4 justify-between items-center rounded-lg">

                    <div class="flex-[1fr]">
                        <h1 class="text-xl"> Cuestionario: {{ nota.nombre_cuestionario }} </h1>

                        <h2> Aciertos: {{ nota.total_correctas }} / Fallos: {{ nota.total_falladas }}</h2>
                        <h2> Fecha de realización: {{ nota.fecha_completado }}</h2>
                    </div>

                    <div class="flex-[1fr] justify-center items-center">
                        <h2 class="w-full text-center"> Calificación</h2>
                        <h2 class="w-full text-center"> {{ nota.nota }} </h2>
                    </div>

                </div>
                }
                } @else {
                <h1>No hay calificaciones disponibles</h1>
                }
            </div>


        </mat-tab>

    </mat-tab-group>



</div>