<div class="mt-[80px] p-10 flex flex-col overflow-auto">


    <h1 class="w-full text-2xl text-center">Clase 1</h1>

    <!--Div temario-->
    <div class="w-full mt-8">

        <h2 class="text-xl">Teoría</h2>
        <hr>
        <br>

        <!--Contenido teoria-->
        <div class="w-full">

        </div>

    </div>

    <!--Div Videos-->
    <div class="w-full">

        <h2 class="text-xl">Vídeos</h2>
        <hr>
        <br>

        <!--Contenido videos-->
        <div class="flex flex-row flex-wrap gap-5">

            <app-item-video-list-class-content></app-item-video-list-class-content>
            <app-item-video-list-class-content></app-item-video-list-class-content>
            <app-item-video-list-class-content></app-item-video-list-class-content>
            <app-item-video-list-class-content></app-item-video-list-class-content>
            <app-item-video-list-class-content></app-item-video-list-class-content>

        </div>

    </div>

    <!--Div examenes-->
    <div class="w-full">

        <h2 class="text-xl">Exámenes</h2>
        <hr>
        <br>

        <!--Contenido examenes-->
        <div>

        </div>
        
    </div>

</div>
