<div class="mt-[120px] flex flex-col justify-center items-center">

    <!-- @if (crearClaseVisible) {
        <app-cuadro-dialogo-add-class class="absolute z-20"></app-cuadro-dialogo-add-class>
     } -->


    <div class="mb-10 flex flex-col items-center">

        <h1 class="text-center text-4xl bangers-regular">Información complementaria</h1>

        <br>

        <div class="flex flex-wrap flex-row gap-5 items-center justify-center">


            @for (classroom of listClasses; track $index) {
            <app-item-clasroom routerLink="../clase" [queryParams]="{ id: classroom.id_clases }"
                class="hover:shadow-xl transition-all duration-300" [classroom]=classroom (elementoEliminado)="fetchData()"></app-item-clasroom>
            }

        </div>

        @if (teacherUser) {
        <button
            class="fixed bottom-7 right-5 bg-green-700 text-white p-4 rounded-full shadow-lg hover:bg-green-800 transition-all duration-300"
            (click)="openDialogAddUpdateClass('a', claseVacia, 0)">
            <img class="icon-class" src="icons/plus-solid.svg">
        </button>
        }


    </div>



</div>