<div class="mt-[80px] w-full flex flex-wrap flex-col gap-8 p-10 items-center justify-center lg:px-24">
    <p>id_experimento: {{ experiment.id_experimento }}</p>
    <p>nombre_experimento: {{ experiment.nombre_experimento }}</p>
    <p>descrip_experimento: {{ experiment.descrip_experimento }}</p>
    <p>foto_experimento: {{ experiment.foto_experimento }}</p>
    <p>video_experimento: {{ experiment.video_experimento }}</p>

    <div style="width: 100%; height: 400px;">
        <canvas #chartCanvas></canvas>
    </div>
</div>