<div class="w-96 rounded-lg border bg-white overflow-hidden ">

    <div class="relative w-full bg-blue-300 p-5">
        <!-- Imagen de perfil redonda en la esquina superior derecha -->
        <div class="absolute top-0 right-0 mt-4 mr-4 w-20 h-20 bg-white rounded-full overflow-hidden z-10">
            <img class="w-full h-full object-cover" src="images/persona.jpg" alt="Imagen de perfil">
        </div>
    
        <!-- Contenido -->
        <h1 class="text-2xl text-black">{{ classroom.nombre_clases }}</h1>
        <h4 class="mt-1 text-black">Curso</h4>
        <h5 class="text-black">Profe</h5>
    </div>
    

    <div class="w-full h-40 flex p-4">
        <h4 class="text-gray-500">{{ classroom.descripcion_clases }}</h4>
    </div>

    <hr>

    <div class="w-full flex flex-row justify-end p-4">
        <a>
            <img class="w-6" src="images/juan.png">
        </a>
    </div>

</div>