<div class="h-[80px] flex flex-row justify-space-between p-3 bg-blue-800">

    <a href="/home" class="w-32">
        <img src="images/logoMonlab3.png" alt="Logo" />
    </a>

    <div class="w-full flex justify-end items-center ">
        <div class="w-full flex justify-around lg:w-[50%]">

            <a class="no-underline" href="/home">
                <p>Home</p>
            </a>

            <p>|</p>

            <a class="no-underline" href="/experimentos">
                <p>Experimentos</p>
            </a>

            <p>|</p>

            <a class="no-underline" href="/clases">
                <p>Clases</p>
            </a>

        </div>
    </div>



    <button class="w-20"  [matMenuTriggerFor]="menu">
        <img class="w-3/4" src="icons/circle-user-regular.svg">
    </button>

    <mat-menu #menu="matMenu">
        <a mat-menu-item href="/configuration" class="itemMenu">
            <img class="iconItemMenu" src="icons/gear-solid.svg">
            <label>General</label>
        </a>
        <a mat-menu-item href="/userProfile">
            <img class="iconItemMenu" src="icons/user-solid.svg">
            <label>Perfil</label>
        </a>
        <a mat-menu-item>
            <img class="iconItemMenu" src="icons/lock-solid.svg">
            <label>Cuenta</label>
        </a>
        <a mat-menu-item>
            <img class="iconItemMenu" src="icons/bell-solid.svg">
            <label>Notificaciones</label>
        </a>
    </mat-menu>



</div>