<div class="bg-gradient-to-r from-green-600 via-green-500 to-green-700 h-[80px] flex flex-row justify-between items-center p-3">
    <a href="/home" class="w-32">
        <img src="images/logoMonlab3.png" alt="Logo" />
    </a>

    <div class="w-full flex justify-start items-center ">
        <div class="w-full flex ml-10 lg:w-[50%]">

            <a class="no-underline transition duration-300 hover:scale-110" routerLink="experimentos">
                <p class="text-black">Experimentos</p>
            </a>

            <p class="mx-10">|</p>

            <a class="no-underline transition text-black duration-300 hover:scale-110" routerLink="infoComplementaria">
                <p class="text-black">Info complementaria</p>
            </a>

        </div>
    </div>

    <div class="menu-container">
        <button class="menu-button" (click)="toggleMenu()">☰</button>
        <div class="menu" [class.active]="isOpen">
            <a routerLink="/userProfile" (click)="closeMenuOnNavigation()">
                <img src="icons/user-solid.svg" alt="Cuenta">
                Cuenta
            </a>
            <a routerLink="/login" (click)="closeMenuOnNavigation()">
                <img src="icons/logout-solid.svg" alt="Cerrar sesión">
                Cerrar sesión
            </a>
        </div>
    </div>

</div>