<div class="w-[16rem] h-[14rem] rounded-3xl flex flex-col justify-end overflow-hidden relative"
[style]="{'background-image': 'url(' + video.foto_temario + ')', 'background-size': 'cover', 'background-position': 'center'}">

    <div class="top-0 h-2/3 flex items-center justify-center absulute opacity-0 hover:opacity-100 transition-opacity duration-300">
        <img class="icon-class" src="icons/play-solid.svg">
    </div>

    <div class="h-1/2 flex items-center justify-center p-4 divTituloVideo">
        <h2 class="text-lg text-white text-glow">{{ video.titulo_video }}</h2>
    </div>

</div>

