<div class="flex flex-col gap-2">
    <!-- Opción A -->
    <label class="flex flex-row bg-white rounded-md hover:bg-blue-100 hover:border-blue-300
     hover:border-l-blue-500 border border-blue-100 border-l-[4px] border-l-blue-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black"> {{ opcionesMezcladas[0].texto }}</h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="opcionesMezcladas[0].valor"
                (change)="onSelectedRespuesta(question.respuesta1)">
        </div>
    </label>

    <!-- Opción B -->
    <label class="flex flex-row bg-white rounded-md hover:bg-blue-100 hover:border-blue-300 
                   hover:border-l-blue-500 border border-blue-100 border-l-[4px] border-l-blue-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black"> {{ opcionesMezcladas[1].texto }} </h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="opcionesMezcladas[1].valor"
                (change)="onSelectedRespuesta(question.respuesta2)">
        </div>
    </label>

    <!-- Opción C -->
    <label class="flex flex-row bg-white rounded-md hover:bg-blue-100 hover:border-blue-300 
                   hover:border-l-blue-500 border border-blue-100 border-l-[4px] border-l-blue-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black"> {{ opcionesMezcladas[2].texto }} </h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="opcionesMezcladas[2].valor"
                (change)="onSelectedRespuesta(question.respuesta3)">
        </div>
    </label>

    <!-- Opción D (Correcta) -->
    <label class="flex flex-row bg-white rounded-md hover:bg-blue-100 hover:border-blue-300 
                   hover:border-l-blue-500 border border-blue-100 border-l-[4px] border-l-blue-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black"> {{ opcionesMezcladas[3].texto }} </h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="opcionesMezcladas[3].valor"
                (change)="onSelectedRespuesta(question.correcta)">
        </div>
    </label>
</div>
