<div class="flex flex-col gap-2">
    <!-- Opción A -->
    <label class="flex flex-row bg-white rounded-md hover:bg-green-100 hover:border-green-100
     hover:border-l-green-500 border border-green-100 border-l-[4px] border-l-green-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black">a. &nbsp; {{ opcionesMezcladas[0].texto }}</h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="opcionesMezcladas[0].texto"
                (change)="onSelectedRespuesta(opcionesMezcladas[0].texto)">
        </div>
    </label>

    <!-- Opción B -->
    <label class="flex flex-row bg-white rounded-md hover:bg-green-100 hover:border-green-100 
                   hover:border-l-green-500 border border-green-100 border-l-[4px] border-l-green-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black">b. &nbsp; {{ opcionesMezcladas[1].texto }} </h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="opcionesMezcladas[1].texto"
                (change)="onSelectedRespuesta(opcionesMezcladas[1].texto)">
        </div>
    </label>

    <!-- Opción C -->
    <label class="flex flex-row bg-white rounded-md hover:bg-green-100 hover:border-green-100 
                   hover:border-l-green-500 border border-green-100 border-l-[4px] border-l-green-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black">c. &nbsp; {{ opcionesMezcladas[2].texto }} </h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="opcionesMezcladas[2].texto"
                (change)="onSelectedRespuesta(opcionesMezcladas[2].texto)">
        </div>
    </label>

    <!-- Opción D (Correcta) -->
    <label class="flex flex-row bg-white rounded-md hover:bg-green-100 hover:border-green-100 
                   hover:border-l-green-500 border border-green-100 border-l-[4px] border-l-green-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black">d. &nbsp; {{ opcionesMezcladas[3].texto }} </h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="opcionesMezcladas[3].texto"
                (change)="onSelectedRespuesta(opcionesMezcladas[3].texto)">
        </div>
    </label>
</div>
