<div class="flex flex-col gap-2">
    <!-- Opción A -->
    <label class="flex flex-row bg-white rounded-md hover:bg-blue-100 hover:border-blue-300
     hover:border-l-blue-500 border border-blue-100 border-l-[4px] border-l-blue-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black"> a. &nbsp;&nbsp; {{ question.respuesta1 }}</h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="question.respuesta1"
                (change)="onSelectedRespuesta(question.respuesta1)">
        </div>
    </label>

    <!-- Opción B -->
    <label class="flex flex-row bg-white rounded-md hover:bg-blue-100 hover:border-blue-300 
                   hover:border-l-blue-500 border border-blue-100 border-l-[4px] border-l-blue-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black"> b. &nbsp;&nbsp; {{ question.respuesta2 }}</h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="question.respuesta2"
                (change)="onSelectedRespuesta(question.respuesta2)">
        </div>
    </label>

    <!-- Opción C -->
    <label class="flex flex-row bg-white rounded-md hover:bg-blue-100 hover:border-blue-300 
                   hover:border-l-blue-500 border border-blue-100 border-l-[4px] border-l-blue-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black"> c. &nbsp;&nbsp; {{ question.respuesta3 }}</h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="question.respuesta3"
                (change)="onSelectedRespuesta(question.respuesta3)">
        </div>
    </label>

    <!-- Opción D (Correcta) -->
    <label class="flex flex-row bg-white rounded-md hover:bg-blue-100 hover:border-blue-300 
                   hover:border-l-blue-500 border border-blue-100 border-l-[4px] border-l-blue-500">
        <div class="w-full flex flex-row justify-between p-5">
            <h4 class="ml-4 text-lg text-black"> d. &nbsp;&nbsp; {{ question.correcta }}</h4>
            <input 
                class="mr-4" 
                type="radio" 
                id="opcion" 
                [name]="question.id_pregunta" 
                [value]="question.correcta"
                (change)="onSelectedRespuesta(question.correcta)">
        </div>
    </label>
</div>
