<div class="mt-[80px] flex flex-col gap-8">

    <div class="divSuperiorHomePage w-full h-[90vh] flex flex-row items-end">
        <a href="#" class="flex-1">
            <app-div-home-page-opc2></app-div-home-page-opc2>
        </a>
        <a href="#" class="flex-1">
            <app-div-home-page></app-div-home-page>
        </a>

        <a href="#" class="flex-1">
            <app-div-home-page-opc3></app-div-home-page-opc3>
        </a>
        <a href="#" class="flex-1">
            <app-div-home-page-opc4></app-div-home-page-opc4>
        </a>


        <h1 class="text-7xl absolute top-20 m-20 text-blue-500">Bienvenido a MonLab . . . </h1>
    </div>



    <h1 class="p-5 text-3xl">Experimentos</h1>

    <div class="scroll-container lg:justify-center">
        <app-layout-experimento-opc1></app-layout-experimento-opc1>
        <app-layout-experimento-opc2></app-layout-experimento-opc2>
        <app-layout-experimento-opc1></app-layout-experimento-opc1>
        <app-layout-experimento-opc2></app-layout-experimento-opc2>
        <app-layout-experimento-opc1></app-layout-experimento-opc1>
        <app-layout-experimento-opc2></app-layout-experimento-opc2>
        <app-layout-experimento-opc1></app-layout-experimento-opc1>
    </div>



    <h1 class="p-5 text-3xl">Profesores</h1>
    <div class="w-full flex flex-row flex-wrap justify-around gap-8">
        <app-layout-profesores-home-page></app-layout-profesores-home-page>
        <app-layout-profesores-home-page></app-layout-profesores-home-page>
        <app-layout-profesores-home-page></app-layout-profesores-home-page>
        <app-layout-profesores-home-page></app-layout-profesores-home-page>
        <app-layout-profesores-home-page></app-layout-profesores-home-page>
    </div>



    <h1 class="p-5 text-3xl">Clases</h1>

    <div class="w-full flex flex-row flex-wrap justify-around gap-8">
        
    </div>



    <br><br><br><br>

</div>