.divSuperiorHomePage {
    background-image: url('../../../../public/images/fondo.jpg');
    background-size: cover;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    scroll-behavior: smooth;
    align-items: center;
    gap: 2rem;
}