<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Neucha&display=swap" rel="stylesheet">


<div class="login-container">
    <!-- Parte izquierda -->
    <div class="left-section">
      <img class="imagenLogin" src="images/fondoLogin.jpg">
    </div>
  
    <!-- Parte derecha -->
    <div class="right-section">
      <h2 class="tituloLogin">BIENVENIDO <br> A <br> MONLAB</h2>

        <br><br><br><br>

      <form>
        <label class="labelsLogin" for="email">CORREO ELECTRÓNICO:</label>
        <input class="inputsLogin" id="email" type="email"/>
  
        <label class="labelsLogin" for="password">CONTRASEÑA:</label>
        <input class="inputsLogin" id="password" type="password" />
        <a href="#" class="labelSmall">Recuperar contraseña</a>

        <br>

        <button type="submit">INICIAR SESIÓN</button>
        <button type="submit">CREAR UN USUARIO NUEVO</button>
      </form>
    </div>
  </div>
  