<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

<div class="contenedorLogin">

    <div class="login">

        <form class="formularioLogin">

            <br>
            <img class="logoLogin">


            <h1 class="tituloLogin neucha-regular">Inicio sesión</h1>

            <input class="inputsLogin" type="text" placeholder="Usuario" name="usuario" required>
            <br>
            <input class="inputsLogin" type="password" placeholder="Contraseña" name="contrasena" required>
            <br>
            <button class="buttonSubmitLogin" type="submit">Login</button>

            <br>

            <div class="contenedorButtonGoogleMicrosoft">

                <div></div>
                <button class="buttonGoogle">
                    <img class="imagenGoogle" src="images/google.png" alt="Google">
                </button>
                
                <button class="buttonMicrosoft">
                    <img class="imagenMicrosoft" src="images/microsoft.png" alt="Microsoft">
                </button>
                <div></div>
            </div>

            <br>

            <label class="text-white">¿Has olvidado la contraseña?</label>
        </form>


    </div>