.contenedorLogin {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-image: url("../../../assets/img/fondo2.jpg");
    background-size: cover; /* Asegúrate de que la imagen cubra el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
}
.formularioLogin {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 15lh;
    height: 70vh;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 0.288);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.logoLogin {
    width: 90%;
    height: 40%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../../../assets/img/usuario.png");
    background-size: cover;
    background-position: center;
}
.buttonSubmitLogin {
    width: 80%;
    height: 5%;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
}
.inputsLogin {
    width: 80%;
    height: 5%;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.36);
    color: white;
    font-size: 15px;
    padding: 5px;
}
.inputsLogin::placeholder {
    color: white; /* Cambia el color del texto del placeholder */
    opacity: 1; /* Opcional: asegúrate de que el texto no sea transparente */
}
.contenedorButtonGoogleMicrosoft {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr; /* Dos columnas de igual tamaño */    
}
.imagenGoogle, .imagenMicrosoft {
    width: 100%; /* Ajusta el tamaño según necesites */
    height: 100%; /* Asegúrate de que tenga un tamaño consistente */
    background-color: rgba(255, 255, 255, 0);
}
.buttonGoogle:hover {
    transform: scale(1.1);
}
.buttonMicrosoft:hover {
    transform: scale(1.1);
}
.buttonGoogle, .buttonMicrosoft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
.tituloLogin {
    color: white;
    font-size: 40px;
}

.neucha-regular {
    font-family: "Neucha", serif;
    font-weight: 400;
    font-style: normal;
  }
  .text-white {
    color: white;
  } 