<div class="mt-[120px]">

    <h1 class="text-center text-3xl">Mis clases</h1>

    <br>

    <div class="flex flex-wrap flex-row gap-5 items-center justify-center">
    
    
        @for (class of listClasses; track $index) {
            <app-item-clasroom class="hover:bg-gray-200 hover:shadow-lg transition-all duration-300" [nombre_clases]=class.nombre_clases [descripcion_clases]=class.descripcion_clases></app-item-clasroom>
        }
    
    </div>

    <button class="fixed bottom-5 right-5 bg-blue-800 text-white p-4 rounded-full shadow-lg hover:bg-blue-700 transition-all duration-300">
        <img class="icon-class" src="icons/plus-solid.svg">
    </button>


</div>
