<div class="mt-[150px] flex flex-wrap flex-row gap-5 items-center justify-center">

    <app-item-clasroom class="hover:bg-gray-200 hover:shadow-lg transition-all duration-300"></app-item-clasroom>
    <app-item-clasroom class="hover:bg-gray-200 hover:shadow-lg transition-all duration-300"></app-item-clasroom>
    <app-item-clasroom class="hover:bg-gray-200 hover:shadow-lg transition-all duration-300"></app-item-clasroom>
    <app-item-clasroom class="hover:bg-gray-200 hover:shadow-lg transition-all duration-300"></app-item-clasroom>
    <app-item-clasroom class="hover:bg-gray-200 hover:shadow-lg transition-all duration-300"></app-item-clasroom>
    <app-item-clasroom class="hover:bg-gray-200 hover:shadow-lg transition-all duration-300"></app-item-clasroom>

</div>