<div class="w-96 rounded-lg border bg-white overflow-hidden cursor-pointer">

    <div class="relative w-full p-5"
        [style]="{ 'background-image': 'url(' + classroom.foto_clases + ')', 
            'background-size': 'cover', 
            'background-position': 'center' 
            }">
        <!-- Imagen de perfil redonda en la esquina superior derecha -->
        <!-- <div class="absolute top-0 right-0 mt-4 mr-4 w-20 h-20 bg-white rounded-full overflow-hidden z-10">
            <img class="w-full h-full object-cover" src="images/juan.png" alt="Imagen de perfil">
        </div> -->

        <!-- Contenido -->
        <div class="h-24 flex justify-center items-center">
            <h1 class="text-3xl text-white text-glow">{{classroom.nombre_clases}}</h1>
        </div>        
        
    </div>


    <div class="w-full h-40 flex p-4">
        <h4 class="text-gray-500">{{ classroom.descripcion_clases }}</h4>
    </div>

    <hr>

    <div class="w-full flex flex-row justify-end p-2">

        @if (usuarioProfesor) {
        <button class="p-2 rounded-2xl hover:bg-gray-100"
            (click)="openDialogAddUpdateClass('u', classroom, classroom.id_clases, $event)">
            <img class="w-6" src="icons/file-pen-solid.svg">
        </button>
        }


    </div>

</div>