<div class="contenedorMainUserProfile">

    <div class="contenedorSuperiorProfile">

        <img src="images/persona.jpg" class="imagenUserProfile">

        <button class="buttonCambiarFoto" mat-raised-button>Cambiar foto</button>

    </div>


    <br>

    <label for="mat-form-field">Nombre de usuario</label>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput>
    </mat-form-field>

    <label for="mat-form-field">Apellidos</label>
    <mat-form-field>
        <mat-label>Apellidos</mat-label>
        <input matInput>
    </mat-form-field>

    <label for="mat-form-field">Correo</label>
    <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput>
    </mat-form-field>

    <label for="mat-form-field">Contraseña</label>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput>
    </mat-form-field>

    <div class="buttons">
        @if (!editando) {
            <input type="button" value="Editar" class="buttonEditar" (click)="activarEdicion()">
        }

        @if (editando) {
            <button class="buttonGuardar" (click)="guardar()">✔</button>
            <button class="buttonCancelar" (click)="cancelar()">✖</button>
        }
        
    </div>

</div>