:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .imagenUserProfile {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    object-fit: cover;
  }
  .contenedorMainUserProfile {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid 2px gray;
    border-radius: 5px;
    margin-top: 90px;
  }
  .contenedorSuperiorProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .buttonCambiarFoto {
    margin-left: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
  }
  
  .buttonEditar {
    background-color: aquamarine;
    padding: 10px;
    cursor: pointer;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
  }

  .buttonEditar:hover {
    background-color: aqua;
  }

  .buttonGuardar {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}

.buttonCancelar {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}