<div class="flex flex-col p-5">

    <mat-dialog-content class="mat-typography">
        <form [formGroup]="addClassForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 w-full max-w-md">

            @if (action === 'a') {
            <h1 class="text-3xl text-center">Añadir clase</h1>
            } @else {
            <h1 class="text-3xl text-center">Modificar clase</h1>
            }

            <br>

            <mat-form-field>
                <mat-label>Nombre:</mat-label>
                <input placeholder="Nombre" formControlName="className" matInput required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descripción:</mat-label>
                <textarea type="text" formControlName="classDescription" matInput></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Contenido:</mat-label>
                <input type="text" formControlName="classContent" matInput />
            </mat-form-field>

            <div>
                <mat-label>Imagen:</mat-label>
                <input type="file" (change)="onFileSelected($event)" />
            </div>

            <br>

            @if (action === 'a') {
            <button class="bg-green-700 px-4 py-2 rounded-lg text-white hover:bg-green-8600">Guardar</button>
            } @else {
            <button class="bg-green-700 px-4 py-2 rounded-lg text-white hover:bg-green-800">Actualizar</button>
            }


        </form>


    </mat-dialog-content>



    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
</div>